.Header {
  max-width: var(--containerSize);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 43px auto;
  height: 100px;
}
.Header nav {
  flex-grow: 1;
}
.Header nav ul {
  display: flex;
  justify-content: center;
}
.Header nav ul li {
  list-style: none;
}
.Header nav ul li a {
  color: var(--grey);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 28px;
  transition-duration: 400ms;
}
.Header nav ul li a:hover,.Header nav ul li.active a {
  color: var(--primary);
}
.Header img {
  max-width: 100px;
  flex-shrink: 0;
}

@media (max-width: 960px){
 .Header {
    flex-direction: column;
    height: auto;
 }
 .Header img {
   padding-right: 0;
 }
}
