body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 50px;
  line-height: 55px;
  margin: 20px 0;
}
h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}

h5 {
  font-size: 18px;
  line-height: 25px;
}

:root {
  --primary: #00A7AE;
  --secondary: #14225A;
  --bodyFontSize: 16px;
  --bodyLineHeight: 16px;
  --grey: #666666;
  --lightGrey: #999999;
  --black: #222222;
  --containerSize: 1200px;
  --lightBox:#E3E3E3;
  --greyBox:#B5B5B5;

}
